 <div class="container">
        <h1 class="primary-heading">Expense Tracker App</h1>
        <h5 class="heading-h5">Add expense</h5>
        <form action="/addexpense" method="POST">
          <label for="desciption">Description</label>
          <input
            type="text"
            placeholder="please enter your expense"
            id="desciption"
            name="expense_desc"
          />
          <label for="Amount">Amount</label>
          <input
            type="number"
            placeholder="please expense amount"
            id="desciption"
            name="expense_amount"
          />
          <p class="category-text">Category</p>
          <div class="category-grid-options">
            
            <span {{#each categories}}>
              <input
                type="radio"
                id="daily-expense"
                name="expense_radio"
                value={{id}}
              />
              <label for="daily-expense">{{category_type}}</label>
            </span {{/each}}>
            
          </div>
          <button type="submit" class="btn-add">Add Expense</button>
        </form>
        <form action="/expense/{{category}}">
          <select name="category-expense" id="dropdown-category">
            <option value="">Please select Category</option>
            {{#each categories}}
            <option name="expense_dropdown" value={{id}}>{{category_type}}</option>
            {{/each }}
          </select>
        </form>
      </div>
      <a href="expense">View expenses</a>
    